.gallery {
  display: grid;
  grid-template-columns: 1fr; /* Mobile: 1 columna */
  grid-auto-rows: 200px;
  gap: 10px;
  width: 100%;
  max-width: 1400px;
  padding: 15px;
}

.item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.item:hover img {
  transform: scale(1.8);
}

.item span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

/*! escri */
@media (min-width: 900px) {
  .gallery-container {
    width: 100%;
    display: flex;

    justify-content: center;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }

  .item.wide {
    grid-column: span 2;
  }
  .item.tall {
    grid-row: span 1;
  }
  .item.big {
    grid-column: span 3;
    grid-row: span 3;
  }

  .item-cart {
    position: fixed;
    top: 10px;
    right: 10px;
    /* background: black; */
    height: 100vh;
    /* width: 300px; */
    display: flex;
    justify-items: end;
  }

  .item-cart h2 {
    /* color: #fafafa; */
    font-weight: 100;
    text-transform: uppercase;
    text-align: right;
    font-size: 4vh;
    line-height: 1;
    margin: 0;
  }
}
