@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.2s;
}

body {
  font-family: sans-serif;
  margin: 0;
  /* max-width: 1900px; */
  background: #fafafa;
}
